/ICS3U-Ruiling/nbproject/private/
/RuilingNetbeans/nbproject/private/
/ECOO/nbproject/private/
/ECOO/build/
JavaApplication1/nbproject/private/private.xml

JavaApplication1/nbproject/private/private.xml
/IMac Project/nbproject/private/
/IMac Project/build/